@import 'react-toastify/dist/ReactToastify.css';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer utilities {
  /* mortgage calculator start */
  .mc-results-scrollbar {
    &::-webkit-scrollbar {
      width: 7px;
      height: 7px;
    }

    &::-webkit-scrollbar-button {
      width: 0px;
      height: 0px;
    }

    &::-webkit-scrollbar-thumb {
      background: theme(colors.muted-6);
      border: 0px none #ffffff;
      border-radius: 50px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: theme(colors.muted-7);
    }

    &::-webkit-scrollbar-thumb:active {
      background: theme(colors.muted-8);
    }

    &::-webkit-scrollbar-track {
      background: theme(colors.muted-4);
      border: 0px none #ffffff;
      border-radius: 50px;
    }

    &::-webkit-scrollbar-corner {
      background: transparent;
    }
  }

  /* mortgage calculator end */
}

