@import 'react-toastify/dist/ReactToastify.css';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer utilities {
  .tip-calculator {
    --strong_cyan: hsl(172, 67%, 45%);
    --very_dark_cyan: hsl(183, 100%, 15%);
    --dark_grayish_cyan: hsl(186, 14%, 43%);
    --grayish_cyan: hsl(184, 14%, 56%);
    --main_bg: hsl(185, 41%, 84%);
    --very_light_grayish_cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
    --focus: 172 67 45;
  }

  /* simple calculator start */

  :root.sc-theme1 {
    --main_bg: hsl(222, 26%, 31%);
    --toggle_keypad_bg: hsl(0, 5%, 81%);
    --screen_bg: hsl(224, 36%, 15%);
    --del_reset_bg: hsl(225, 21%, 49%);
    --del_reset_bg_shadow: hsl(224, 28%, 35%);
    --equal_toggleIndicator_bg: hsl(6, 63%, 50%);
    --equal_shadow: hsl(6, 70%, 34%);
    --key_bg: hsl(30, 25%, 89%);
    --keyShadow: hsl(28, 16%, 65%);
    --whiteText: hsl(0, 0%, 100%);
    --darkBlueText: hsl(198, 20%, 13%);
  }

  :root.sc-theme2 {
    --main_bg: hsl(0, 0%, 90%);
    --toggle_keypad_bg: hsl(0, 5%, 81%);
    --screen_bg: hsl(0, 0%, 93%);
    --del_reset_bg: hsl(185, 42%, 37%);
    --del_reset_bg_shadow: hsl(185, 58%, 25%);
    --equal_toggleIndicator_bg: hsl(25, 98%, 40%);
    --equal_shadow: hsl(25, 99%, 27%);
    --key_bg: hsl(45, 7%, 89%);
    --keyShadow: hsl(35, 11%, 61%);
    --darkBlueText: hsl(198, 20%, 13%);
  }

  :root.sc-theme3 {
    --main_bg: hsl(268, 75%, 9%);
    --toggle_keypad_bg: hsl(268, 71%, 12%);
    --screen_bg: hsl(268, 71%, 12%);
    --del_reset_bg: hsl(281, 89%, 26%);
    --del_reset_bg_shadow: hsl(285, 91%, 52%);
    --equal_toggleIndicator_bg: hsl(176, 100%, 44%);
    --equal_shadow: hsl(177, 92%, 70%);
    --key_bg: hsl(268, 47%, 21%);
    --keyShadow: hsl(290, 70%, 36%);
    --yellowText: hsl(52, 100%, 62%);
  }

  /* simple calculator end */

  /* mortgage calculator start */
  .mc-results-scrollbar {
    &::-webkit-scrollbar {
      width: 7px;
      height: 7px;
    }

    &::-webkit-scrollbar-button {
      width: 0px;
      height: 0px;
    }

    &::-webkit-scrollbar-thumb {
      background: theme(colors.primary-7);
      border: 0px none #ffffff;
      border-radius: 50px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: theme(colors.primary-6);
    }

    &::-webkit-scrollbar-thumb:active {
      background: theme(colors.primary-5);
    }

    &::-webkit-scrollbar-track {
      background: theme(colors.primary-8);
      border: 0px none #ffffff;
      border-radius: 50px;
    }

    &::-webkit-scrollbar-corner {
      background: transparent;
    }
  }

  /* mortgage calculator end */
}

