@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .scrollbar-results {
    &::-webkit-scrollbar {
      width: 7px;
      height: 7px;
    }
    &::-webkit-scrollbar-button {
      width: 0px;
      height: 0px;
    }
    &::-webkit-scrollbar-thumb {
      background: theme(colors.primary-7);
      border: 0px none #ffffff;
      border-radius: 50px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: theme(colors.primary-6);
    }
    &::-webkit-scrollbar-thumb:active {
      background: theme(colors.primary-5);
    }
    &::-webkit-scrollbar-track {
      background: theme(colors.primary-8);
      border: 0px none #ffffff;
      border-radius: 50px;
    }
    /* &::-webkit-scrollbar-track:hover {
    } */
    /* &::-webkit-scrollbar-track:active {
      background: theme(colors.primary-8);
    } */
    &::-webkit-scrollbar-corner {
      background: transparent;
    }
  }
}

